/* General Styling */

* {
    font-family: Arial, Helvetica, sans-serif;
}

#visualisation {
    display: grid;
    grid-template-columns: 750px 750px;
    grid-template-rows: auto auto
}

#location {
    grid-column: 1/1;
    grid-row: 1/1;
}

.x-axis {
    font-size: 14px;
}

svg {
    margin-top: 15px;
}

#media {
    grid-column: 2/2;
    grid-row: 1/1
}

h2 {
    display: inline;
}

#circular {
    display: none;
}

.axis-label {
    color: darkslategray;
    font-size: 20px;
    /*Styling the y + x axis label */
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.tick>text {
    font-size: 12px;
}

header,
footer {
    background-color: #DDAA36;
    padding: 10px;
    border-radius: 15px;
}

header {
    text-align: center;
    margin-bottom: 5px;
}

header>p {
    display: block;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

footer {
    text-align: right;
    margin-top: 20px;
    padding-top: 10px
}

body {
    background-color: linen;
}

#location,
#media {
    text-align: center;
}

#quantity {
    margin-left: 30px
}

.icon-info-sign {
    font-size: 30px;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-bottom: 15px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

i:hover {
    opacity: 0.5;
    cursor: pointer;
}


/*Modal Styling https://www.w3schools.com/howto/howto_css_modals.asp */


/* Modal Header */

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


/* Modal Body */

.modal-body {
    padding: 2px 16px;
}


/* Modal Footer */

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    text-align: left;
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top: 200px;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* Line Chart Styling */

.line {
    fill: none;
    stroke-width: 1.5;
}

.area {
    opacity: 0.8;
}

.circle {
    opacity: 0.4;
}

.legend {
    font-size: 16px;
    font-weight: bold;
}


/* Bar Chart Styling */

.rect:hover {
    opacity: 0.5;
}